<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Search</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
 
<body>
    <div class="container">
        <h1>MKT</h1>
        <form action="/" method="post">
            <label for="search_term">Search Term:</label>
            <input type="text" id="search_term" name="search_term" class="search-input">
            <button type="submit">Search</button>
        </form>
        <div class="grid-container">
            {% for blog in blogs %}
            <div class="grid-item">
                <div class="blog-name"><h2>{{ blog.name }}</h2></div>
                <p><strong>URL:</strong> {{ blog.url }}</p>
                <p><strong>Category:</strong> {{ blog.category }}</p>
                <p><strong>Publish Date:</strong> {{ blog.publish_date }}</p>
                <p><strong>Expire Date:</strong> {{ blog.expire_date }}</p>
                <p><strong>Region:</strong> {{ blog.region }}</p>
                <p><strong>Relevance:</strong> {{ blog.relevance }}</p>
                <p><strong>Target Audience:</strong> {{ blog.target_audience }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
 
</html>